body {
  background-image: url(../images/wallpaper_pagina.png);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  font-family: "Shippori Antique", sans-serif;
  margin: 0;
  padding: 0;
  color: #222;
}
